

body{
    background: #201F33;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font: Source Code Pro;
    color: #b5b3ff;
    font-size: 5vmin;
    -webkit-text-stroke-color: #707070;
    -webkit-text-stroke-width: 0.02vw;
}






.container{
    
    height: 100vh;
    width: 85.4167vw;
    margin: auto;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap:nowrap;
}

/* ------------------------ HEADER  ------------------------ */ 

.header{
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.group-name
{
    text-align: center;
    /* font: Source Code Pro;
    color: #b5b3c1; */
    font-size: 3vh;
}


/* ------------------ PLACEMENT-NAVIGATION ----------------- */


.placement-navigation
{
    height: 15vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
}


.menu
{
    height: 11vh;
    width: 25vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}


.settings-icon
{
    margin-left: 3vw;
    margin-top: 5vh;
    font-size: 2vmax;
}


#avatar > img
{
    height: 5vmax;
    width: 5vmax;
    border: 0.7vh solid #cfe6e4;
    border-radius: 50%;
}

#avatar-block > img
{
    height: 5.5vmax;
    width: 5.5vmax;
    border: 0.7vh solid #cfe6e4;
    border-radius: 50%;
}

.smallest-avatar > img
{
    height: 2.5vmax;
    width: 2.5vmax;
    border: 0.7vh solid #cfe6e4;
    border-radius: 50%;
}

.small-avatar > img
{
    height: 3.5vmax;
    width: 3.5vmax;
    border: 0.7vh solid #cfe6e4;
    border-radius: 50%;
}


.medium-avatar > img
{
    height: 4.5vmax;
    width: 4.5vmax;
    border: 0.7vh solid #cfe6e4;
    border-radius: 50%;
}

.big-avatar > img
{
    height: 5.5vmax;
    width: 5.5vmax;
    border: 0.7vh solid #cfe6e4;
    border-radius: 50%;
}



.icon
{
    height: 6vh;
    width: 2.7vmax;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 6vh;
}




.clock
{
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 1vh;
    height: 11vh;
    width: 13vw;
    font-size: 7vh;
    font-weight: bold;    
}




/* ------------------- PLACEMENT-CONTENT ------------------- */

.placement-content
{
    height: 77vh;
    width: 100%;
    /*background-color: gold;*/ 
}


/* ------------------- PLACEMENT-FOOTER ------------------- */

.footer{
    height:3vh;
    width: 90%;
    padding-left: 6vw;
    font-size: 2.7vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}




a:link ,a:visited  {
    color: #b5b3c1;
}

 a:hover{
    color: rgb(170, 147, 15);
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 750px) {
    .container{
        width: 100%;
        height: 100%;
    }

    .header{
        height: 2vh;
    }
    
    .group-name{
        text-align: center;
        /* font: Source Code Pro;
        color: #b5b3c1; */
        font-size: 2vh;
    }

    .placement-navigation{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .menu{
    height: 11vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    }

    #avatar.medium-avatar > img
    {
    height: 6.5vmax;
    width: 6.5vmax;
    margin-right: 1vw;
    border: 0.7vh solid #cfe6e4;
    border-radius: 50%;
    margin-right: 0;
    }

    .icon{
    height: 6vh;
    width: 2.7vmax;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 6vh;
    }

    .clock{
        display: none;
    }
}
